.logo {
  margin-bottom: .25rem;
}
.logo img {
  display: block;
}
.menu {
  padding: 0 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  background-color: #ffffff80;
}
.menu a:link {
  margin-right: 20px;
}